/*
Error: File to import not found or unreadable: _customize.
       Load paths:
         Compass::SpriteImporter
         /Applications/MAMP/htdocs/hakka-2A sass/M/sass
         /Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets
        on line 63 of /Applications/MAMP/htdocs/hakka-2A sass/M/sass/customize.scss

58: // 列印
59: // @import "sass/_print";					//列印樣式
60: 
61: 
62: // 中
63: @import "_customize";
64: // EN
65: // @import "_customize_en";

Backtrace:
/Applications/MAMP/htdocs/hakka-2A sass/M/sass/customize.scss:63
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/import_node.rb:45:in `import'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:23:in `block in render_with_sourcemap'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:22:in `render_with_sourcemap'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: _customize.\A        Load paths:\A          Compass::SpriteImporter\A          /Applications/MAMP/htdocs/hakka-2A sass/M/sass\A          /Users/u00a4057/.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets\A         on line 63 of /Applications/MAMP/htdocs/hakka-2A sass/M/sass/customize.scss\A \A 58: // 列印\A 59: // @import \"sass/_print\";					//列印樣式\A 60: \A 61: \A 62: // 中\A 63: @import \"_customize\";\A 64: // EN\A 65: // @import \"_customize_en\";"; }
